{% extends 'base.html.twig' %}

{% set mainActive = 'admin' %}

{% block content %}

    <div class="row">
        
        {# content #}
        <div class="span9">
            {% block admin_content %}{% endblock %}
        </div>
        
        {# subnav #}
        <div class="span3">
            <div id="subnav" class="well">
                <ul class="nav nav-list">
                
                    <li class="nav-header">Administrationsbereich</li>
                    
                    <li {% if page == 'start' %}class="active"{% endif %}><a href="/index.php/admin">Semesterprogramm</a></li>
                    <li class="divider"></li>
                    
                    <li class="nav-header">Über den VDSt</li>
                    <li {% if page == 'Geschichte' %}class="active"{% endif %}><a href="/index.php/admin/article/fetch/Geschichte">Geschichte</a></li>
                    <li {% if page == 'Prinzipien' %}class="active"{% endif %}><a href="/index.php/admin/article/fetch/Prinzipien">Prinzipien</a></li>
                    <li {% if page == 'Politische Bildung' %}class="active"{% endif %}><a href="/index.php/admin/article/fetch/Politische Bildung">Politische Bildung</a></li>
                    <li {% if page == 'Presse' %}class="active"{% endif %}><a href="/index.php/admin/article/fetch/Presse">Presse</a></li>
                    <li {% if page == 'Verband' %}class="active"{% endif %}><a href="/index.php/admin/article/fetch/Verband">Verband</a></li>
                    <li class="divider"></li>
                    
                    <li><a href="#">Galerie</a></li>
                    <li><a href="#">Wohnen</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li class="divider"></li>
                    <li><a href="/index.php/start">Zur Startseite</a></li>
                </ul>
            </div>
        </div>
        
    </div>
                    
{% endblock %}

{% block javascripts %}
	
	{{ parent() }}
	
	<script type="text/javascript">

        $(document).ready(function() {

            // hide top-nav
            $('#nav_wrapper').hide();
        	
        	// toggle init
    		$('.legendToggle').click(function() {

        		$(this).parent().parent().find('.toggleContent').toggle();
        		$(this).toggleClass('icon-plus-sign');
        		$(this).toggleClass('icon-minus-sign');
    		    
    		});
        	
        });
	
	</script>
	
{% endblock %}