{% set navigation_bar = [['start', 'Semesterprogramm'], ['geschichte', 'Geschichte'] ] %}
{% set active_page = active_page|default('index') %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>VDSt Berlin & Charlottenburg</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/vdst/css/base.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper" class="container">
            <div class="row">
                <div id="header" class="span12">
                    <img src="/vdst/images/wappen.png"/>
                    <h1>VDSt Berlin & Charlottenburg</h1>
                    <hr/>
                </div>
                <div class="span12">
                	<div class="navbar">
					    <div class="navbar-inner">
						    <ul class="nav">
						    {% for item in navigation_bar %}
								<li {% if item[0] == active_page %} class="active" {% endif%}><a href="/vdst/{{ item[0] }}">{{ item[1] }}</a></li>
							{% endfor %}
						    </ul>
					    </div>
				    </div>
                    {% block content %}{% endblock %}
                </div>
                <div id="footer" class="span12">
                	<hr/>
                	<p>&copy; {{ 'now' | date('Y') }} VDSt Berlin & Charlottenburg - Impressum - <a href="/vdst/admin">Admin</a></p>
                </div>
            </div>
        </div>
        
        {% block javascripts %}{% endblock %}
        
    </body>
</html>