{% set mainNav = [ ['start','Semesterprogramm'], ['vdst','Über den VDSt'], ['galerie','Galerie'], ['wohnen','Wohnen'], ['kontakt','Kontakt'] ] %}
{% set mainActive = mainActive|default('start') %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>VDSt Berlin & Charlottenburg</title>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/base.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper" class="container">
            <div class="row">
                <div id="header" class="span12">
                    <a href="/index.php"><img src="/images/wappen.png"/></a>
                    <h1>VDSt Berlin & Charlottenburg</h1>
                    <hr/>
                </div>
                <div class="span12" id="nav_wrapper">
                	<div class="navbar">
					    <div class="navbar-inner">
						    <ul class="nav">
						    {% for item in mainNav %}
								<li {% if item[0] == mainActive %} class="active" {% endif %}><a href="/index.php/{{ item[0] }}">{{ item[1] }}</a></li>
							{% endfor %}
						    </ul>
					    </div>
				    </div>
                </div>
                <div class="span12">
                    {% block content %}{% endblock %}
                </div>
                <div id="footer" class="span12">
                	<hr/>
                	<p>&copy; {{ 'now' | date('Y') }} VDSt Berlin & Charlottenburg - Impressum - <a href="/index.php/admin">Admin</a></p>
                </div>
            </div>
        </div>
        
        {% block javascripts %}
            <script src="/vendor/jquery/jquery-1.8.3.js" type="text/javascript"></script>
	        <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        {% endblock %}
        
    </body>
</html>