{% extends 'base.html.twig' %}
{% set mainActive = page %}

{% block content %}

	<h2 class="headline">{{ page }}</h2>
	
	<p>Diese Seite ist noch nicht verfügbar</p>		
                    
{% endblock %}